extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")

block content
  
  body
    header
      h1  WELCOME TO Lets walk  
    main
      p Welcome to NIGERIAN FIRST WALK WEBSITE ! Connect with others for work opportunities.

      // Personalized welcome message
      if user
        p Welcome, #{user.name}! Let's find the perfect walking partner for you.
      else
        p Connect with others for work opportunities.

      // Beautiful links to profiles
      .profile-links
        a(href="/profile/1")
          img(src="https://media.istockphoto.com/id/1333460374/photo/african-megacity-lagos-nigeria.jpg?s=612x612&w=0&k=20&c=Gu5TRHGNLRRF43YFMlDFnpkk7TBz00U8olxUqsoeiw8=", alt="Profile 1")
          p Profile 1 - John Doe
        a(href="/profile/2")
          img(src="https://www.istockphoto.com/photo/african-megacity-lagos-nigeria-gm1320231994-406863542", alt="Profile 2")
          p Profile 2 - Jane Smith
        a(href="/profile/3")
          img(src="https://placekitten.com/200/200", alt="Profile 3")
          p Profile 3 - Alex Johnson
        a(href="/profile/4")
          img(src="https://placekitten.com/200/200", alt="Profile 4")
          p Profile 4 - Emily Brown
        a(href="/profile/5")
          img(src="https://placekitten.com/200/200", alt="Profile 5")
          p Profile 5 - Michael Davis

    footer
      p © 2024 Works Connection
