// views/user-list.pug

doctype html
html
  head
    title User List
  body
    h1 User List
    ul
      each user in users
        li
          strong #{user.name}
          br
          | Preferences: #{user.preferences.location}, #{user.preferences.time}
          // You can add more details based on your user data structure
