html
  head
    title Walking Buddies

  body
    header
      h1 Walking Buddies
      table(border=1)
        for item in data 
            tr  
                td #{item.username}
                td #{item.email}
                td #{item.gender}
      h2 Potential Walking Buddies

    

    footer
      p © 2023 Walking Buddies App
