html
  head
    title Walking Buddies

  body
    header
      h1 Walking Buddies

    section#walking-partners
      h2 Potential Walking Buddies

      if walkingPartners.length > 0
        ul
          each partner in walkingPartners
            li
              h3= partner.name
              p= partner.bio
              p Compatibility: #{partner.compatibility}
              button(type='button' onclick=`sendRequest('${partner.id}')`) Send Walking Request
      else
        p No potential walking buddies found.

    footer
      p © 2023 Walking Buddies App
