html
  head
    title Walking Buddies

  body
    header
      console.log(results)
      h1 Walking Buddies
      p #{results}
      h2 Potential Walking Buddies

    

    footer
      p © 2023 Walking Buddies App
