mixin navigation
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title", content="Lets Walk — walking ste")
    meta(name="description")
    meta(property="og:url", content="https://letwalk.com")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(name="theme-color", content="#070826")
    meta(property="og:locale", content="en")
    meta(property="og:site_name", content="Lets Walk")
    meta(property="og:image", content="/assets/images/meta/banner.jpg")
    meta(property="og:image:alt", content="Lets Walk — free walks")
    link(rel="shortcut icon", href="/assets/images/meta/favicon.png", type="image/png")
    link(rel="stylesheet", href="/assets/css/main.css")
    script(src="/assets/js/script.js", defer="")
    title= pageTitle
  body
    header.header
      //- remove the line below to hide the notice
      .header__notice.notice
        .notice__text
          | Welcome to LetWalk this code can be found
          a(href="https://github.com/lydiauzoma/pg-sd2") here
      .header__content
        a.logo(href="/en/")
          img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
          p.logo__name Lets Walk
        input.header__menu(type="checkbox", name="menu", aria-label="menu")
        nav.header__links
          a.header__link(href="/") Home
          a.header__link(href="/plans") Plans
          a.header__link(href="/locations") Locations
          a.header__link(href="/about") About
        a.button.button--secondary(href="/register") SignUp
        a.button.button--secondary(href="/login") SignIn