doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title", content="Lets Walk — walking ste")
    meta(name="description", content="With Lets Walk Explore the world on foot with LetWalk")
    meta(property="og:url", content="https://letwalk.com")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(name="theme-color", content="#070826")
    meta(property="og:locale", content="en")
    meta(property="og:site_name", content="Lets Walk")
    meta(property="og:image", content="/assets/images/meta/banner.jpg")
    meta(property="og:image:alt", content="Lets Walk — free walks")
    link(rel="shortcut icon", href="../..//assets/images/meta/favicon.png", type="image/png")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="/assets/js/script.js", defer="")
    link(rel="stylesheet", href="assets/css/home.css")
    script(src="assets/js/form.js", defer="")
    script(src="assets/js/plans.js", defer="")
    title Home — Lets Walk
  body
    header.header
      //- remove the line below to hide the notice
      .header__notice.notice
        .notice__text
          | Welcome to LetWalk this code can be found
          a(href="https://github.com/lydiauzoma/Lets_walk-website") here
      .header__content
        a.logo(href="/")
          img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
          p.logo__name Lets Walk
        input.header__menu(type="checkbox", name="menu", aria-label="menu")
        nav.header__links
          a.header__link(href="/") Home
          a.header__link(href="/plans") Plans
          a.header__link(href="/plans") Locations
          a.header__link(href="/about") About
        a.button.button--secondary(href="/register") SignUp
        a.button.button--secondary(href="/login") SignIn
    .container
      section.hero
        h1.hero__title(data-anim="")
          | Explore  Nigeria  on foot with LetWalk,find a walkbuddy.
        p.hero__description(data-anim="")
          | Discover amazing places, connect with fellow walkers and walk to destinations.
        a.button(href="/", absolute="", data-anim="")
          | Let's Walk Now
        img.hero__image(src="/assets/images/hero.webp", alt="Servers", width="685", height="455")
      section.features
        h2.h2.features__title(data-anim="") Why us?
        .features__list
          .feature(data-anim="")
            h3.feature__name Find new walking routes.
            p.feature__description
              | Find beautiful trails, spice up your walks with fresh routes.
              | Explore your surroundings and marvel at the beauty of nature.
          .feature(data-anim="")
            h3.feature__name Walker Connections
            p.feature__description
              | Build connections on your walks. Join fellow walkers, share
              | stories, and create a community. Enhance your walking experience
              | by connecting with others who share your passion for strolls.
          .feature(data-anim="")
            h3.feature__name Share Top Routes
            p.feature__description
              | Share cherished routes, exchange scenic gems, and inspire others
              | with your favorite walking paths.
      section.services
        .services__text(data-anim="")
          h2.h2 Supported services
          p.services__description
            | We plan to add to this list in the future
        .services__list
          .service(data-anim="")
            .service__info
              h3.service__name Guided Walking Tours
              ul.service__types
                li.service__type
                  | Organizing guided tours through scenic or historical
                  | locations.
          .service(data-anim="")
            .service__info
              h3.service__name Walking Events
              ul.service__types
                li.service__type
                  | Hosting events like charity walks, fun walks.
          .services__list
            .service(data-anim="")
              .service__info
                h3.service__name Fitness Walking Programs
                ul.service__types
                  li.service__type
                    | Offering walking programs designed for fitness and health,
                    | including group walks.
            .service(data-anim="")
              .service__info
                h3.service__name Educational Workshops
                ul.service__types
                  li.service__type
                    | Conducting workshops on walking techniques
      section.plans
        .plans__text
          h2.h2(data-anim="") Popular plans
          a.plans__more(href="/plans", data-anim="")
            | All plans
      section.blocks
        .block(data-anim="")
          .block__text
            h2.h2 Discover Guided Tours
            p.block__description
              | Explore our curated selection of guided walking tours led by
              | knowledgeable guides. Each tour offers a unique experience,
              | blending history, culture, and breathtaking scenery.
            a.button.block__button(href="https://panel.letwalk.com", data-anim="")
              | Go to panel
          img.block__icon(src="../../assets/images/blocks/panel.jpg", alt="panel", width="432", height="243")
        .block(data-anim="")
          .block__text
            h2.h2 Track Your Progress
            p.block__description
              | Utilize our built-in tracking feature to monitor your walking
              | progress. Set personal goals, track distances, and stay motivated
              | as you achieve your fitness milestones.
            a.button.block__button(href="/en/partners.html", data-anim="")
              | Partnership program
          img.block__icon(src="../../assets/images/blocks/partners.jpg", alt="partners", width="432", height="243")
        .block(data-anim="")
          .block__text
            h2.h2 Own community
            p.block__description
              | In our discord server you will find raffles and gifts. As well as
              | news and frequent updates
            a.button.block__button(href="https://discord.gg/<DISCORD>", data-anim="")
              | Discord
          img.block__icon(src="../../assets/images/blocks/community.jpg", alt="community", width="432", height="243")
      section.comments
        h2.h2.h2--center(data-anim="") Reviews
        .comments__list
          .comment
            .comment__rating 7.5
            .comment__info
              .user
                img.user__avatar(src="https://cdn.discordapp.com/avatars/1018508311676600430/4bd9cef1ac9cb6ab7584b50c840fd168.webp?size=32", alt="Sasha")
                p.user__name Sasha
              .comment__date 1/17/2024
            p.comment__body
              | The guides were not only friendly but also well-versed in the
              | history and culture of the area. Their passion for walking and
              | sharing information added a lot of value to the tour.
          .comment
            .comment__rating 7.5
            .comment__info
              .user
                img.user__avatar(src="https://cdn.discordapp.com/avatars/999625234497929296/456177f92bacd5111fe12b9f05632513.webp?size=32", alt="flamecatoff")
                p.user__name flamecatoff
              .comment__date 1/17/2024
            p.comment__body
              | The chosen route was breathtaking, with picturesque views and
              | hidden gems that I wouldn't have discovered on my own. The pace
              | was comfortable, allowing everyone to enjoy the surroundings
              | without feeling rushed.
          .comment
            .comment__rating 9
            .comment__info
              .user
                img.user__avatar(src="https://cdn.discordapp.com/avatars/973337217424568391/63e0ce05329351de0989d61631629491.webp?size=32", alt="sgasdg")
                p.user__name sgasdg
              .comment__date 1/17/2024
            p.comment__body
              | Let's Walk paid attention to the little details. From providing
              | water and snacks to ensuring the group's safety, they demonstrated
              | a commitment to customer satisfaction.
        a.button(href="https://discord.gg/<DISCORD>") All reviews
      section.faq
        h2.h2(data-anim="") Frequently Asked Questions
        .faq__list
          details.question(data-anim="")
            summary.question__question What is Let's Walk
            p.question__answer
              | Let's Walk is a mobile application designed to enhance your
              | walking experience. It provides guided walking tours, fitness
              | programs, and a platform for connecting with other walking
              | enthusiasts.
          details.question(data-anim="")
            summary.question__question How can I download the Let's Walk app?
            p.question__answer
              | You can download the Let's Walk app from the App Store for iOS
              | devices or Google Play for Android devices. Simply search for the
              | app and follow the installation instructions.
          details.question(data-anim="")
            summary.question__question Are there any costs associated with using the Let's Walk app?
            p.question__answer
              | The Let's Walk app is free to download. Some features, such as
              | premium walking tours or personalized fitness plans, may have
              | associated costs. Check the app for specific details.
      section.contacts
        .contacts__info(data-anim="")
          h2.h2 Any questions?
          .contacts__media
            a(href="https://discord.gg/<DISCORD>") Discord
        form.form(action="http://localhost:3000/api/register", method="POST")
          p.notification.success Message was send
          p.notification.error Error while sending message
          .input(data-anim="data-anim")
            input(type="text", id="name", name="name", pattern="^([А-яA-Za-z0-9 ]{3,16})$", placeholder="", required="required")
            label(for="name") Name
          .input(data-anim="data-anim")
            input(type="email", id="email", name="email", placeholder="", required="required")
            label(for="email") E-mail
          .input(data-anim="data-anim")
            textarea(id="message", type="text", name="message", placeholder="", pattern="^([*]{8, 512})$")
            label(for="message") Your question
          .checkbox
            input(type="checkbox", id="agreement")
            label(for="agreement")
              | I agree to
              a(href="/en/rules.html") terms of use
              | and
              a(href="/en/privacy.html") privacy policy
          button.button(id="submit") Send
      section.cta(data-anim="")
        h2.h2 Ready to start your walking adventure?
        a.button.cta__button(href="https://client.letwalk.com") Sign up now
      footer.footer
        .footer__content
          .footer__info
            a.logo(href="/en/")
              img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
              p.logo__name Lets Walk
            p.footer__description Explore the world on foot with LetWalk
          .footer__section
            h3.footer__title Legal
            .footer__links
              a.footer__link(href="/en/.html")
          .footer__section
            h3.footer__title Main
            .footer__links
              a.footer__link(href="/en/") Home
              a.footer__link(href="/en/partners.html") Partnership
              a.footer__link(href="/en/plans.html") Plans
              a.footer__link(href="/en/locations.html") Locations
              a.footer__link(href="/en/guides.html") Guides
              a.footer__link(href="/en/support.html") Support
        .copyright
          p.copyright__text 2022-2023 Lets Walk. We are not affiliated with any brand.
          .media
            a.media__link(href="https://discord.gg/<DISCORD>")
              img.media__icon(src="/assets/images/icons/discord.svg", alt="discord", width="30", height="30")
            a.media__link(href="https://youtube.com/channel/<YOUTUBE>")
              img.media__icon(src="/assets/images/icons/youtube.svg", alt="youtube", width="30", height="30")
            a.media__link(href="tel:<PHONE>")
              img.media__icon(src="/assets/images/icons/phone.svg", alt="phone", width="30", height="30")
