doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title", content="Lets Walk — walking ste")
    meta(name="description")
    meta(property="og:url", content="https://letwalk.com")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(name="theme-color", content="#070826")
    meta(property="og:locale", content="en")
    meta(property="og:site_name", content="Lets Walk")
    meta(property="og:image", content="/assets/images/meta/banner.jpg")
    meta(property="og:image:alt", content="Lets Walk — free walks")
    link(rel="shortcut icon", href="/assets/images/meta/favicon.png", type="image/png")
    link(rel="stylesheet", href="/assets/css/main.css")
    script(src="/assets/js/script.js", defer="")
    title= pageTitle
    block head
 
         include includes/header.pug
                  +navigation()

              block content
              
         include includes/footer.pug
         +footer()