doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title", content="Lets Walk — walking ste")
    meta(name="description")
    meta(property="og:url", content="https://letwalk.com")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(name="theme-color", content="#070826")
    meta(property="og:locale", content="en")
    meta(property="og:site_name", content="Lets Walk")
    meta(property="og:image", content="/assets/images/meta/banner.jpg")
    meta(property="og:image:alt", content="Lets Walk — free walks")
    link(rel="shortcut icon", href="/assets/images/meta/favicon.png", type="image/png")
    link(rel="stylesheet", href="/assets/css/main.css")
    script(src="/assets/js/script.js", defer="")
    link(rel="stylesheet", href="/assets/css/support.css")
    script(src="/assets/js/form.js", defer="")
    title SignUp — Lets Walk
  body
    header.header
      //- remove the line below to hide the notice
      .header__notice.notice
        .notice__text
          | Welcome to LetWalk this code can be found
          a(href="https://github.com/lydiauzoma/Lets_walk-website") here
      .header__content
        a.logo(href="/")
          img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
          p.logo__name Lets Walk
        input.header__menu(type="checkbox", name="menu", aria-label="menu")
        nav.header__links
          a.header__link(href="/") Home
          a.header__link(href="/plans") Plans
          a.header__link(href="/location") Locations
          a.header__link(href="/about") Creators
        a.button.button--secondary(href="/register") SignUp
        a.button.button--secondary(href="/login") SignIn
    .container
      section.support
        .support__media
          h2.h2(data-anim="") Need help signin In?
          .support__list
            a.media(href="https://discord.gg/<DISCORD>", data-anim="")
              img.media__icon(src="/assets/images/icons/discord.svg", alt="Discord")
              div.media__link .gg/<discord></discord>
            a.media(href="tel:<PHONE>", data-anim="")
              img.media__icon(src="/assets/images/icons/phone.svg", alt="Phone")
              div.media__link &lt;PHONE&gt;
        form.form(action="/api/login", method="POST")
          p.notification.success Message was send
          p.notification.error Error while sending message
          div.input(data-anim="data-anim")
            input(type="text", id="name", name="name", pattern="^([А-яA-Za-z0-9 ]{3,16})$", placeholder=" ", required="required")
            label(for="name") Name
          div.input(data-anim="data-anim")
            input(type="email", id="email", name="email", placeholder=" ", required="required")
            label(for="email") E-mail
          div.input(data-anim="data-anim")
            input(type="text", id="password", name="password", placeholder=" ", required="required")
            label(for="password") Password
          div.checkbox
            input(type="checkbox", id="agreement")
            label(for="agreement") I agree to
              a(href="/en/rules.html") terms of use
              |  and
              a(href="/en/privacy.html") privacy policy
          button.button#submit Send
      footer.footer
        .footer__content
          .footer__info
            a.logo(href="/en/")
              img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
              p.logo__name Lets Walk
            p.footer__description Explore the world on foot with LetWalk
          .footer__section
            h3.footer__title Legal
            .footer__links
              a.footer__link(href="/en/.html")
          .footer__section
            h3.footer__title Main
            .footer__links
              a.footer__link(href="/en/") Home
              a.footer__link(href="/en/partners.html") Partnership
              a.footer__link(href="/en/plans.html") Plans
              a.footer__link(href="/en/locations.html") Locations
              a.footer__link(href="/en/guides.html") Guides
              a.footer__link(href="/en/support.html") Support
        .copyright
          p.copyright__text 2022-2023 Lets Walk. We are not affiliated with any brand.
          .media
            a.media__link(href="https://discord.gg/<DISCORD>")
              img.media__icon(src="/assets/images/icons/discord.svg", alt="discord", width="30", height="30")
            a.media__link(href="https://youtube.com/channel/<YOUTUBE>")
              img.media__icon(src="/assets/images/icons/youtube.svg", alt="youtube", width="30", height="30")
            a.media__link(href="tel:<PHONE>")
              img.media__icon(src="/assets/images/icons/phone.svg", alt="phone", width="30", height="30")
