doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="title", content="Lets Walk — walking ste")
    meta(name="description")
    meta(property="og:url", content="https://letwalk.com")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(name="theme-color", content="#070826")
    meta(property="og:locale", content="en")
    meta(property="og:site_name", content="Lets Walk")
    meta(property="og:image", content="/assets/images/meta/banner.jpg")
    meta(property="og:image:alt", content="Lets Walk — free walks")
    link(rel="shortcut icon", href="/assets/images/meta/favicon.png", type="image/png")
    link(rel="stylesheet", href="/assets/css/main.css")
    script(src="/assets/js/script.js", defer="")
    link(rel="stylesheet", href="/assets/css/plans.css")
    script(src="/assets/js/plans.js", defer="")
    title Plans — Lets Walk
  body
    header.header
      //- remove the line below to hide the notice
      div.header__notice.notice
        div.notice__text
          | Welcome to LetWalk this code can be found
          a(href="https://github.com/lydiauzoma/Lets_walk-website") here
      div.header__content
        a.logo(href="/")
          img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
          p.logo__name Lets Walk
        input.header__menu(type="checkbox", name="menu", aria-label="menu")
        nav.header__links
          a.header__link(href="/") Home
          a.header__link(href="/plans") Plans
          a.header__link(href="/location") Locations
          a.header__link(href="/about") Creators
        a.button.button--secondary(href="/register") SignUp
        a.button.button--secondary(href="/login") SignIn
    div.container
      section.plans
        h2.h2.h2--center(data-anim="") Plans
        div.plans__list
          div.plan
            h3.plan__name Free
            div.plan__price 0
            ul.specs.plan__specs
              li.spec.priority(data-priority="priority") Low
            a.button(href="https://client.letwalk.com", data-absolute="data-absolute") Get for free
          div.plan
            h3.plan__name Mini
            div.plan__price 5
            ul.specs.plan__specs
            a.button(href="https://discord.gg/<DISCORD>", data-absolute="data-absolute") Buy
          div.plan
            h3.plan__name Normal
            div.plan__price 10
            ul.specs.plan__specs
              li.spec.private Private location
            a.button(href="https://discord.gg/<DISCORD>", data-absolute="data-absolute") Buy
          div.plan
            h3.plan__name Alpha
            div.plan__price 15
            ul.specs.plan__specs
            a.button(href="https://discord.gg/<DISCORD>", data-absolute="data-absolute") Buy
      footer.footer
        div.footer__content
          div.footer__info
            a.logo(href="/en/")
              img.logo__image(src="/assets/images/logo.webp", alt="Logo", width="30", height="30")
              p.logo__name Lets Walk
            p.footer__description Explore the world on foot with LetWalk
          div.footer__section
            h3.footer__title Legal
            div.footer__links
              a.footer__link(href="/en/.html")
          div.footer__section
            h3.footer__title Main
            div.footer__links
              a.footer__link(href="/en/") Home
              a.footer__link(href="/en/partners.html") Partnership
              a.footer__link(href="/en/plans.html") Plans
              a.footer__link(href="/en/locations.html") Locations
              a.footer__link(href="/en/guides.html") Guides
              a.footer__link(href="/en/support.html") Support
        div.copyright
          p.copyright__text 2022-2023 Lets Walk. We are not affiliated with any brand.
          div.media
            a.media__link(href="https://discord.gg/<DISCORD>")
              img.media__icon(src="/assets/images/icons/discord.svg", alt="discord", width="30", height="30")
            a.media__link(href="https://youtube.com/channel/<YOUTUBE>")
              img.media__icon(src="/assets/images/icons/youtube.svg", alt="youtube", width="30", height="30")
            a.media__link(href="tel:<PHONE>")
              img.media__icon(src="/assets/images/icons/phone.svg", alt="phone", width="30", height="30")
