extends layout.pug

block content
  h1 Welcome, #{currentUser.name}!
  p Ready to find a walking partner?
  
  button.find-partner Find a Partner
  
  if matchedPartner
      h2 Your Walking Partner:
      p #{matchedPartner.name}
      p #{matchedPartner.email}
  else
      p Waiting for a match...

